<html>
    <head>
        <title>Confirm email</title>
    </head>
    <body>
        <div>
            <p>Thanks for registering! Click link below to <a href="{{url}}/account/confirm?token={{token}}" target="_blank">confirm your account</a></p>
        </div>
    </body>
</html>